{% extends 'base.html.twig' %}

{% block main %}
	<div class="login-container">
		<h3>Login</h3>
		<form method="post">
			{% if error %}
				<div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{# {% if app.user %}
						<div class="logged-in">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
				{% endif %} #}

			<div>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
			</div>
			<div>
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" required>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<button class="login-btn" type="submit">
				Login
			</button>
		</form>
	</div>
{% endblock %}
