{% extends 'base.html.twig' %}

{% block main %}
	<div class="list-container">
		<h2>Books</h2>
		{% if is_granted('ROLE_ADMIN') %}
			<a class='create-btn' href="{{ path('app_book_new') }}">Create new</a>
		{% endif %}
		<ul class="book-list">
			{% for book in books%}
				<li class='book-block'>
					<ul class="book">
						<li class="title">
							<strong>Title:</strong>
							{{ book.title }}
						</li>
						<li class="author">
							<strong>Author:</strong>
							{{ book.author }}</li>
						<li class="publisher">
							<strong>Publisher:</strong>
							{{ book.publisher }}</li>
						<li class="year">
							<strong>Year:</strong>
							{{ book.year }}</li>
						<li class="description">
							<strong>Description:</strong>
							{{ book.description }}</li>
					</ul>
					<div class="actions">
						<a class='show-btn' href="{{ path('app_book_show', {'id': book.id}) }}">Show</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a class='edit-btn' href="{{ path('app_book_edit', {'id': book.id}) }}">Edit</a>
						{% endif %}
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}
