{% extends 'base.html.twig' %}

{% block main %}
	<h1>Book index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Author</th>
				<th>Publisher</th>
				<th>Description</th>
				<th>Year</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for book in books %}
				<tr>
					<td>{{ book.id }}</td>
					<td>{{ book.title }}</td>
					<td>{{ book.author }}</td>
					<td>{{ book.publisher }}</td>
					<td>{{ book.description }}</td>
					<td>{{ book.year }}</td>
					<td>
						<a href="{{ path('book_show', {'id': book.id}) }}">show</a>
						<a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('book_new') }}">Create new</a>
{% endblock %}
